:root {
    --brand-gradient: linear-gradient(160deg, #3399FF, #3366CC);
    --brand-blue-light: #3399FF;
    --brand-blue-dark: #3366CC;
}

body {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}

h1 {
    font-size: 14rem;
    font-weight: 800;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 6rem;
    position: relative;
}

button {
    padding: 1rem 2.5rem;
    border: none;
    border-radius: 2rem;
    font-size: 1.3rem;
}

button:hover {
    cursor: pointer;
}

#nav-options {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5rem;
    font-size: 1.55rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
nav a {
    position: relative;
    color: black;
    text-decoration: none;
    transition: color 0.5s ease;
}

nav a:hover {
    color: var(--brand-blue-light);
}

#nav-logo svg {
    transition: fill 0.5s ease;
}

#nav-logo svg:hover {
    fill: var(--brand-blue-light);
}

#nav-logo:hover {
    cursor: pointer;
}

#profile-btn {
    font-size: 1.55rem;
    font-weight: 700;
}

#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 5rem;
}

#hero-h {
    color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text; 
    background-image: var(--brand-gradient);
    height: 15.6rem;
}

#hero-btns {
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.hero-btn {
    position: relative;
    color: inherit;
    overflow: hidden;
    transition: color 0.5s ease;
    z-index: 0;
}

.hero-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: var(--brand-gradient);
    opacity: 0;
    transition: opacity 0.5s ease;
    transition-delay: 0.1s;
    z-index: -1;
}

.hero-btn:hover::before {
    opacity: 1;
}

.hero-btn:not(:hover)::before {
    opacity: 0;
}

.hero-btn:hover {
    color: white;
    z-index: 1;
}

.hero-btn::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: background-color 0.5s ease;
}

.hero-btn:hover::after {
    background-color: transparent;
}

#hero-sh {
    font-size: 3rem;
    font-weight: 500;
}