:root {
    --brand-blue-light: #3399FF;
    --brand-blue-dark: #3366cc;
    --brand-gradient: linear-gradient(160deg, var(--brand-blue-light), var(--brand-blue-dark));
}

body {
    position: relative;
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    overflow-x: hidden;
    background-color: #fcfcfc;
    font-variation-settings:
        "wdth" 100,
        "YTLC" 500;
}

h1 {
    font-size: 14rem;
    font-weight: 800;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0 auto;
    width: 100%;
    height: 0;
}

.nav-menu {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #fcfcfc;
    width: 100%;
    height: 0vh;
    transition: height 1s ease;
    overflow: hidden;
    z-index: 4;
}

.nav-menu-unrolled {
    height: 100vh;
}

#nav-menu-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr 1fr 1fr 1fr;
    width: 102rem;
    height: 100%;
    min-height: 100vh;
}

.nav-menu-item {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    font-size: 10rem;
    font-weight: 400;
    border-bottom: solid 1px rgb(200, 200, 200);
    cursor: pointer;
    transition: padding-right 0.5s ease;
}

.nav-menu-item:hover {
    padding-right: 2rem;
}

#nav-content-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 102rem;
}

button {
    padding: 1rem 2.5rem;
    border: none;
    border-radius: 2rem;
    font-size: 1.3rem;
    cursor: pointer;
}

#nav-options {
    display: inline-flex;
    justify-content: center;
    gap: 8rem;
    height: 0;
    font-size: 1.55rem;
}

.nav-text,
#nav-logo svg {
    color: white;
    fill: white;
    mix-blend-mode: difference;
    position: fixed;
    margin-top: 3.1rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    cursor: pointer;
    z-index: 5;
}

nav ul a .nav-text {
    margin-top: 2.3rem;
    transform: translateY(0);
    opacity: 1;
    transition: transform 0.7s ease, opacity 0.7s ease;
}

.nav-text-hidden {
    transform: translateY(-5.5rem) !important;
    opacity: 0 !important;
}

nav ul a {
    display: inline-flex;
    justify-content: center;
    transition: font-weight 0.4s ease;
}

nav ul a:hover {
    font-weight: 800;
}

.fa-bars {
    color: white;
    mix-blend-mode: difference;
    position: fixed;
    font-size: 2.2rem;
    margin-top: 3.4rem;
    transform: translateX(3rem);
    opacity: 0;
    z-index: 5;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.fa-bars-active {
    transform: translateX(0);
    opacity: 1;
    cursor: pointer;
}

.profile-btn-hidden {
    transform: translateX(-3rem) !important;
    opacity: 0 !important;
}

#profile-btn {
    display: inline-flex;
    justify-content: flex-end;
    font-size: 1.55rem;
    font-weight: 700;
    text-wrap: nowrap;
}

#profile-btn .nav-text {
    margin-top: 3.6rem;
    transform: translateX(0);
    opacity: 1;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

#hero-model {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

#hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 100vh;
    max-height: 1100px;
    min-height: 950px;
}

#hero-h {
    color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: var(--brand-gradient);
    height: 21.6rem;
    max-width: 102rem;
    font-size: 20rem;
}

#hero-btns {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    z-index: 2;
}

.hero-btn {
    position: relative;
    color: inherit;
    overflow: hidden;
    transition: color 0.5s ease;
    z-index: 1;
}

.hero-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: var(--brand-gradient);
    opacity: 0;
    transition: opacity 0.5s ease;
    transition-delay: 0.1s;
    z-index: -1;
}

.hero-btn:hover::before {
    opacity: 1;
}

.hero-btn:not(:hover)::before {
    opacity: 0;
}

.hero-btn:hover {
    color: white;
    z-index: 1;
}

.hero-btn::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: background-color 0.5s ease;
}

.hero-btn:hover::after {
    background-color: transparent;
}

#hero-sh {
    font-size: 3rem;
    font-weight: 500;
}

#usage {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    width: 100%;
    height: 110vh;
    max-height: 1200px;
    min-height: 1000px;
}

#usage-content-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 102rem;
}

#usage-h3 {
    font-size: 6rem;
    font-weight: 700;
    line-height: 130%;
}

#usage-h3 a {
    color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-weight: 800;
    background-image: var(--brand-gradient);
}

#how-it-work {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#how-it-work-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 15rem auto;
    width: 102rem;
    gap: 10rem;
}

#how-it-work-p {
    position: absolute;
    text-wrap: nowrap;
    left: 50%;
    transform: translateX(-50%);
    font-size: 7rem;
    font-weight: 700;
    z-index: -1;
}

.how-it-work-article {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.how-it-work-article:nth-child(3) {
    align-self: last baseline;
}

.how-it-work-article img {
    width: 45rem;
    height: 30rem;
    object-fit: cover;
    object-position: top;
}

.how-it-work-article-header {
    font-size: 2.5rem;
    font-weight: 600;
}

.how-it-work-article-p {
    font-size: 1.3rem;
    color: rgb(80, 80, 80);
}

#why-us {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 30rem 0;
    font-size: 7rem;
    font-weight: 700;
}

#question-layer-2,
#question-layer-1,
#question-layer--1,
#question-layer--2 {
    position: absolute;
    left: 50%;
    transform: translateX(-50.8%);
}

#profile-system {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#profile-system-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 102rem;
    margin: 10rem auto;
    gap: 3rem;
}

#profile-system-header {
    font-size: 6rem;
    font-weight: 700;
    text-align: center;
}

#profile-system-btn {
    background-image: var(--brand-gradient);
    color: white;
    opacity: 0;
    transition: opacity 1s ease, filter 0.5s ease;
}

.profile-system-btn-visible {
    opacity: 1 !important;
}

#profile-system-btn:hover {
    filter: brightness(1.15);
}

#profile-system-phones {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 7rem;
    transform: translateY(7rem);
    padding: 5rem 0;
    opacity: 0;
    transition: opacity 1.5s ease, gap 1.5s ease, transform 1.5s ease;
}

.phones-visible {
    opacity: 1 !important;
    gap: 2rem !important;
    transform: translateY(0) !important;
}

.profile-system-phone {
    width: 18.9rem;
    filter: drop-shadow(5px 5px 15px #00000038);
}

.profile-system-feature-callout {
    text-align: center;
    padding-top: 2rem;
    font-size: 3.5rem;
    font-weight: 600;
    width: 55rem;
    opacity: 0;
    transform: translateY(5rem);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.callout-visible {
    opacity: 1;
    transform: translateY(0);
}

.profile-system-feature-callout a {
    color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-weight: 700;
    background-image: var(--brand-gradient);
}

#wavetag-showcase {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10rem 0;
    background-color: #e8e8e8;
    gap: 10rem;
    z-index: 1;
}

#wavetag-showcase p {
    text-align: center;
    font-size: 6rem;
    font-weight: 700;
    padding: 0 11rem;
}

#wavetag-showcase-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15rem;
    margin-top: 10rem;
    opacity: 0;
    height: 40rem;
    transition: gap 1s ease, margin-top 1s ease, opacity 1s ease, transform 1s ease;
    z-index: 0;
}

.showcase-visible {
    opacity: 1 !important;
    gap: 5rem !important;
    margin-top: 0 !important;
}

.wavetag-showcase-cards {
    width: 30rem;
    filter: blur(3px);
    transition: width 1s ease, filter 1s ease;
    cursor: pointer;
}

.focused {
    width: 60rem;
    filter: none;
}

#eco {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: linear-gradient(160deg, #459900, #316d00);
}

#eco-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 102rem;
    height: 68rem;
    margin: 10rem auto;
    gap: 3rem;
}

#eco-header {
    font-size: 6rem;
    font-weight: 700;
    color: white;
}

#eco-p {
    font-size: 1.5rem;
    font-weight: 500;
    color: white;
}

#eco-img {
    position: absolute;
    transform: translateX(50%);
    right: 25rem;
    bottom: 0;
}

#faq {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10rem 0;
}

#faq-header {
    font-size: 6rem;
    font-weight: 700;
}

#faq-questions {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, auto);
    padding-top: 5rem;
}

.faq-question {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    padding: 1.5rem 0;
    height: 2rem;
    overflow: hidden;
    border-top: 1px solid rgb(200, 200, 200);
    transition: height 0.5s ease;
    cursor: pointer;
}

.faq-question:first-child {
    border-top: none;
}

.faq-question-h {
    display: inline-block;
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 1.5rem;
}

.faq-answer {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 130%;
    width: 60rem;
}

.faq-answer a {
    color: var(--brand-blue-light);
}

#goodbye-message {
    white-space: nowrap;
    font-size: 10rem;
    font-weight: 800;
    height: 11rem;
    color: var(--brand-blue-light);
    animation: scrollText 15s linear infinite;
}

@keyframes scrollText {
    0% {
        transform: translateX(72.65rem);
    }

    100% {
        transform: translateX(-72.65rem);
    }
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 3rem 0 8rem 0;
}

#footer-wrapper {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr) 3fr;
    grid-template-rows: 1fr;
    column-gap: 2rem;
    width: 102rem;
    font-size: 1.1rem;
    line-height: 130%;
}

.footer-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
}

.footer-column a {
    font-size: 1.1rem;
    transition: font-size 0.5s ease;
}

.footer-column a:hover {
    font-size: 1.15rem;
}

.footer-column-header {
    font-weight: 800;
}

#footer-main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#footer-socials {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    padding-bottom: 1rem;
}

#footer-socials img {
    width: 1.5rem;
    height: 1.5rem;
    object-fit: contain;
    transition: transform 0.5s ease;
}

#footer-socials img:hover {
    transform: scale(1.2);
}

#footer-logo {
    width: 12rem;
    padding-top: 1rem;
}

#footer-credits {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: last baseline;
}

#back-to-top {
    position: relative;
    font-size: 1.3rem;
    font-weight: 700;
    cursor: pointer;
}

.fa-arrow-up {
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(0rem);
    top: 0;
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.fa-arrow-up-visible {
    opacity: 1;
    transform: translateX(-50%) translateY(-1rem);
}

@media screen and (max-width: 114rem) {

    #nav-menu-wrapper,
    #nav-content-wrapper,
    #usage-content-wrapper,
    #how-it-work-wrapper,
    #profile-system-wrapper,
    #eco-wrapper,
    #faq,
    #footer-wrapper {
        width: 90%;
    }
}

@media screen and (max-width: 1690px) {

    #eco-header,
    #eco-p {
        z-index: 1;
    }
}

@media screen and (max-width: 1580px) {
    #hero-h {
        font-size: 18rem;
    }
}

@media screen and (max-width: 1470px) {
    #hero-h {
        font-size: 14rem;
    }

    #wavetag-showcase-cards {
        height: 25rem;
    }

    .wavetag-showcase-cards {
        width: 20rem;
    }

    .focused {
        width: 35rem;
    }

    #eco-img {
        right: 10%;
    }
}

@media screen and (max-width: 1150px) {
    #hero {
        justify-content: center;
        width: 90%;
    }

    #hero-model {
        display: none;
    }

    #hero-h {
        font-size: 10rem;
        height: 11rem;
    }

    #nav-options {
        display: none;
    }

    #how-it-work-wrapper {
        align-items: center;
    }

    #how-it-work-p {
        position: static;
        left: auto;
        transform: none;
    }

    .how-it-work-article:nth-child(3) {
        align-self: center;
    }

    #footer-wrapper {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto;
        row-gap: 2rem;
    }

    #footer-credits {
        position: absolute;
        bottom: -5rem;
        left: 0;
        width: 100%;
    }

    #footer-main {
        width: 200%;
    }

    #faq-questions {
        width: 90%;
    }

    #middle-column {
        align-items: center;
    }

    #last-column {
        align-items: flex-end;
    }

    .faq-answer {
        width: 100%;
    }

    #eco-img {
        right: 50%;
        width: 60rem;
        transform: translateX(76%) translateY(-15%);
    }
}

@media screen and (max-width: 1000px) {
    #usage {
        max-height: auto;
        min-height: auto;
        height: auto;
        padding: 5rem 0;
    }

    #usage-content-wrapper {
        flex-direction: column;
        gap: 5rem;
    }

    #usage-h3 {
        font-size: 5rem;
    }

    #how-it-work-p {
        font-size: 5rem;
    }

    .how-it-work-article {
        width: 80%;
        height: 30rem;
    }

    .how-it-work-article img {
        width: 100%;
        height: 100%;
    }

    #why-us p {
        font-size: 5rem;
    }

    #profile-system-header {
        font-size: 5rem;
    }

    .profile-system-feature-callout {
        font-size: 3rem;
        width: 80%;
    }

    #wavetag-showcase p {
        font-size: 5rem;
        padding: 0 5rem;
    }

    #eco-header {
        font-size: 5rem;
    }

    #eco-wrapper {
        height: 45rem;
    }

    #eco-img {
        bottom: 0;
        transform: translateX(76%) translateY(5rem);
    }

    #faq-header {
        font-size: 5rem;
    }
}

@media screen and (max-width: 800px) {
    #hero {
        height: auto;
        min-height: auto;
        max-height: none;
        padding: 20% 0;
    }

    #hero-h {
        font-size: 8rem;
        height: 8.5rem;
    }

    #hero-sh {
        font-size: 2rem;
    }

    #usage-h3 {
        font-size: 4rem;
    }

    #profile-system-header {
        font-size: 4rem;
    }

    .profile-system-feature-callout {
        font-size: 2.5rem;
    }

    #wavetag-showcase p {
        font-size: 4rem;
    }

    #eco-header {
        font-size: 4rem;
    }

    #faq-header {
        font-size: 4rem;
    }

    #eco-wrapper {
        margin: 5rem auto;
    }

    #eco-wrapper {
        height: 45rem;
    }

    #eco-img {
        bottom: 0;
        width: 50rem;
        transform: translateX(76%) translateY(0rem);
    }
}